body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

nav ul {
    display: flex;
    font-size: clamp(8px, 2vw, 24px);
    padding: 0;
    
  } 
              li {
                list-style-type: none;
                padding: 1em;
                } 
              .cafetitle {
                margin-left: auto;
              }

 /* image shit */
header {
  color: white;
  background-image: url(../img/shop.jpg);
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

    .hero {
         text-align: center;
         padding: 12% 10%;   
    }
      

              .hero-subtitle {
                font-size: clamp(8px, 2vw, 24px);
              }

              .hero-title {
                font-size: clamp(32px, 8vw, 96px);
                font-weight: normal;
              }

              button {
                font-size: clamp(8px, 2vw, 24px);
              
                background-color: black;
                color: white;
                cursor: pointer;
                padding: .5rem 1rem;
           
           
              }

              .quote {
                text-align: center;
                line-height:2.5em;
                padding: 2rem;
              }






    
 
 
 

  /* w3 school*/

.menu {
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: Space-between;
  margin: 0;
}
.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6em;
}
@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }
  
  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .menu-item-image {
  width: 125px;
  height: 125px;
  }
  nav ul {
    display: flex;
    font-size: 16px;
  } 
     .top-left {
        position: absolute;
        font-size: 80px;
     }
      /* menu button */
    .read-more {
      font-size: 20px;
    }
}









.coffeelist {
  font-size: 1.17em;
}

.right {
  float: right;
  letter-spacing: .5rem;
}

