body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
 /* nav */
nav ul {
  display: flex;
  font-size: 20px; 
  } 

li {
  list-style-type: none;
  padding: 1em;
  } 

.cafetitle {
  margin-left: auto;
}

/* image shit */
header {
  color: white;
  background-image: url(../img/shop.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

/* header */
.hero {
  text-align: center;
  padding: 15% 10%;   
}     

.hero-subtitle {
  font-size: clamp(18px, 3vw, 24px);
}

.hero-title {
  font-size: clamp(30px, 5vw, 96px);
  font-weight: normal;
}

button {
  margin: .75rem;
  font-size: clamp(10px, 5vw, 20px);
  background-color: black;
  color: white;
  cursor: pointer;
  padding: .5rem 1rem;
}

.quoteheading {
  font-size: 40px;
}

.quote {
  font-size: 20px;
  text-align: center;
  line-height:2.5em;
  margin-top: 4rem;
}


/* menu */
.menu-heading {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  font-size: 25px;
  margin-top: 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  align-items: baseline;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

table {
  width: 100%;
  font-size: 20px;
}

th {
  text-align: left;
  max-width: 40px;
}

td {
  line-height: 2.5em;
  max-width: 10px;
}

 /* footer */
footer {
  background-color: black;
  color: white;
}

.footergrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  color: white;
  display: flex;
}

@media screen and (max-width: 800px) {
  .about, .contact, .location {
    padding: 1rem;
  }
}

@media screen and (max-width: 400px) {
  nav ul {
    font-size: 12px;
  }

  .menu-heading {
    padding: 1rem;
    font-size: 18px;
    padding: 1rem;
  }

  .menu-grid {
    grid-template-columns: 1fr;
    font-size: 16px;
    padding: 1rem;
    margin-left: 1rem;
  }

}




