* {
  color: white;
  font-family: "Unica77", "Helvetica Neue", Arial, sans-serif;
}

body {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  background-color: black;
}

.links {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

hr {
  border-color: red;
}

h1 {
  font-weight: 300;
  font-size: 20px;
}

a {
  font-weight: 300;
  font-size: 50px;
  text-decoration: none;
  color: white;
}


a:hover {
  color: red;
}

.bow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}





.project-test {
  color: white;
}

.project-test img{
    display: none
}

.project-test span {
  color: white;
}

.project-test span:hover {
  color: white;
}

.project-test span:hover + img{
  width: 100%;
  display: block;
  opacity: .7;
  position: absolute;
  left: 0px;
  top: 0px;

  z-index: -1;
}


