* {
  background-color: grey;
}
body {
 
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

.links {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 50px;
}


.bow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}

